<!DOCTYPE html>
<html lang="en">
    <script type="text/javascript"> //<![CDATA[ 
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
    <head>
        <title>Temple Carpool</title>
        <link rel="icon" href="images/templecarpoolLogo.png" sizes="400x400">
        <meta charset="utf-8">
        <script type='text/javascript' src='scripts/config.js'></script>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="312484233782-6q2cd48kt6ptu0tlcs5mv59vk1n9q9hp.apps.googleusercontent.com">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload-init" async defer></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!--see https://jqueryvalidation.org for info-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="scripts/myscript.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="css/mystyle.css">
    </head>
    
    <body>
        <div id="holder">
            <div id="body">
                <ul id="navbar">
                    <li><img src="images/templecarpoolLogo.png" width="36" style="padding:5px"></li>
                    <li><a href="/">Home-In Testing</a></li>
                    <li style="float:right">
                        <div class="g-signin2 oauth" data-onsuccess="onSignIn" data-theme="light"></div>
                        <div class="g-signout2 oauth" data-theme="light" hidden>
                        <div style="height:36px;width:120px;" class="abcRioButton abcRioButtonLightBlue">
                        <div class="abcRioButtonContentWrapper">
                            <div class="abcRioButtonIcon" style="padding:8px;">
                                <div style="width:18px;height:18px;" class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
                                    <svg version="1.1" smlns="https://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg">
                                        <g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g>
                                    </svg>
                                </div>
                            </div>
                            <span style="font-size:13px;line-height:34px;" class="abcRioButtonContents">
                                <span>Sign Out</span>
                            </span>
                        </div>
                    </div>
                    </div>
                    </li>
                </ul>
                
                <div id="content" hidden>
                    <div id="filter">
                        Stake: <select id="stake"></select>
                        Temple: <select id="temple"></select>
                        Departure Date: <input type="text" id="departDate">
                        Return Date: <input type="text" id="returnDate">
                    </div>
                    <div class="tab">
                        <button class="tablinks" id="fa" onclick="openTab(event,'findRide')">Find A Ride</button>
                        <button class="tablinks" onclick="openTab(event,'postRide')">Post A Ride</button>
                        <button class="tablinks" id='er' onclick="openTab(event,'editRide')">Edit A Ride</button>
                        <button class="tablinks" id="ti" onclick="openTab(event,'templeInfo')">Temple Info</button>
                    </div>
                    <div id="findRide" class="tabContent">
                        <table id="trips">
                            <tr class="header">
                                <th>Stake<i class="fas fa-sort"></i></th>
                                <th>Temple</th>
                                <th>Departure</th>
                                <th>Return</th>
                                <th>Passengers</th>
                                <th>Driver</th>
                                <th>Reserve</th>
                            </tr>
                        </table>
                    </div>
                    <div id="postRide" class="tabContent">
                        <form action="/postRide" id="postRideForm" method="post">
                            <fieldset>
                                <label for="name">Driver:*</label>
                                <input type="text" id="driver" name="driver" placeholder="" required />
                                <br />
                                <label for="email">Email:*</label>
                                <input type="email" id="email" name="email" placeholder="" required disabled />
                                <br />
                                <label for="dDate">Departure Date:*</label>
                                <input type="text" id="dDate" name="dDate" required />

                                <label for="dTime">Departure Time:</label>
                                <select id="dTime" name="dTime">
                                    <option value='select'>--select--</option>
                                </select>
                                <br />
                                <label for="rDate">Return Date:*</label>
                                <input type="text" id="rDate" name="rDate" required />

                                <label for="rTime">Return Time:</label>
                                <select id="rTime" name="rTime">
                                    <option value='select'>--select--</option>
                                </select>
                                <br />
                                <label for="numSeats">Number of Seats:*</label>
                                <input type="number" min=1 id="numSeats" name="numSeats" value="1" required />
                                <br />
                                <label for="departStake">Departing Stake:</label>
                                <select id="departStake" name="departStake">
                                </select>
                                <br />
                                <label for="templeDest">Temple:</label>
                                <select id="templeDest" name="templeDest">
                                </select>
                                <br>
                                <label for="splitCost">Split Cost:</label>
                                <input type="checkbox" id="splitCost" name="splitCost" class="checkmark">
                                <br />
                                <label for="comments">Optional Comments:</label>
                                <textarea id="comments" name="comments" placeholder="Any comments for passengers such as phone number, pick up location, car rules, etc"></textarea>
                                <br />
                                <input type="submit" value="Post a Ride" />
                            </fieldset>
                        </form>
                    </div>
                    <div id="editRide" class="tabContent">
                        <div id="editDriverForm" title="Edit a Trip" data-trip-id="">
                            <p class="validateTips">All form fields with * are required.</p>
                             
                            <form id="editRideForm">
                                <fieldset>
                                    <label for="driverStake">Stake*</label>
                                    <select name="driverStake" id="driverStake" class="text ui-widget-content ui-corner-all"></select>
                                    <br />
                                    <label for="driverTemple">Temple*</label>
                                    <select name="driverTemple" id="driverTemple" class="text ui-widget-content ui-corner-all"></select>
                                    <br />
                                    <label for="driverDepart">Departure*</label>
                                    <input type="text" name="driverDepart" id="driverDepart" required class="text ui-widget-content ui-corner-all">
                                    <select name="driverDTime" id="driverDTime" class="text ui-widget-content ui-corner-all">
                                    <option value='select'>--select--</option>
                                    </select>
                                    <br />
                                    <label for="driverReturn">Return*</label>
                                    <input type="text" name="driverReturn" id="driverReturn" required class="text ui-widget-content ui-corner-all">
                                    <select name="driverRTime" id="driverRTime" class="text ui-widget-content ui-corner-all">
                                    <option value='select'>--select--</option>
                                    </select>
                                    <br />
                                    <label for="driverSeats">Max Seats*</label>
                                    <input type="number" name="driverSeats" id="driverSeats" min=1 required class="text ui-widget-content ui-corner-all">
                                    <br />
                                    <label for="driverSplitCost">Split Cost:</label>
                                    <input type="checkbox" id="driverSplitCost" name="driverSplitCost" class="checkmark">
                                    <br />
                                    <label for="driverComments">Optional Comments:</label>
                                    <textarea id="driverComments" name="driverComments" placeholder="Any comments for passengers such as phone number, pick up location, car rules, etc"></textarea>
                                    <br />
                                    <label for="driverPassengers">Passengers</label>
                                    <table name="driverPassengers" id="driverPassengers">
                                        <tr class="header">
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Kick</th>
                                        </tr>
                                    </table>
                                    <!-- Allow form submission with keyboard without duplicating the dialog button -->
                                    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                                </fieldset>
                            </form>
                        </div>
                        <h2>Trips You're Driving For</h2>
                        <table id="editingDrivingRides">
                            <tr class="header">
                                <th>Stake</th>
                                <th>Temple</th>
                                <th>Departure</th>
                                <th>Return</th>
                                <th>Passengers</th>
                                <th>Edit</th>
                            </tr>
                        </table>
                        <br />
                        <h2>Trips You're A Passenger For</h2>
                        <table id="editingPassengerRides">
                            <tr class="header">
                                <th>Stake</th>
                                <th>Temple</th>
                                <th>Departure</th>
                                <th>Return</th>
                                <th>Driver</th>
                                <th>Split Cost</th>
                                <th>Comments</th>
                                <th>Edit</th>
                            </tr>
                        </table>
                    </div>
                    <div id="templeInfo" class="tabContent">
                        <h2 id="templeName">Name</h2>
                        <div class='columns'>
                            <div class='col-2'>
                                <div id="templeAddress">
                                123 Street St
                                <br />
                                City, ST 00000
                                </div>
                                <br />
                                <div id="templePhone">
                                (012)-123-4567
                                </div>
                                <img id='templeImage' />
                            </div>
                            <div class='col-2' id='templeMap'></div>
                        </div>
                        <br />
                        <div class='columns'>
                            <div class='col-2' id="templeEndowment">
                                <h3>Endowments</h3>
                                <p>Please double check the temple website for the date and time you are planning on visiting.</p>
                                <table>
                                    <tr>
                                    <td>Tuesday</td>
                                    <td id="Endowment-Tuesday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Wednesday</td>
                                    <td id="Endowment-Wednesday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Thursday</td>
                                    <td id="Endowment-Thursday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Friday</td>
                                    <td id="Endowment-Friday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Saturday</td>
                                    <td id="Endowment-Saturday">TBA</td>
                                    </tr>
                                </table>
                            </div>
                            <div class='col-2' id="templeBaptistry">
                                <h3>Baptistry(Appointment Required)</h3>
                                <table>
                                    <tr>
                                    <td>Tuesday</td>
                                    <td id="Baptistry-Tuesday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Wednesday</td>
                                    <td id="Baptistry-Wednesday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Thursday</td>
                                    <td id="Baptistry-Thursday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Friday</td>
                                    <td id="Baptistry-Friday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Saturday</td>
                                    <td id="Baptistry-Saturday">TBA</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class='columns'>
                            <div class='col-2'>
                                <h3>Closings</h3>
                                The temple is closed every Sunday and Monday.
                                <br />
                                <strong>Holiday Closings</strong>
                                <br />
                                <ul id="templeClosings">
                                    <li>Christmas</li>
                                </ul>
                            </div>
                            <div class='col-2'>
                                <h3>Notes</h3>
                                <div id="templeNotes">
                                    <p>There is no distribution center.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='welcomeMsg' align="center">
                    Please sign in to view this site.
                </div>
            </div>
            <div class="footer">
                Site design/logo &copy; 2018 Temple Carpool, Epper Marshall
                <div>
                    <a href="mailto:epper.marshall+templecarpool@gmail.com?Subject=Temple Carpool%20Feedback" target="_top">Contact</a>
                     - 
                    <a href="https://github.com/depperm/templeCarpool/issues" title="Please provide details">Report Issue</a>
                </div>
            </div>
        </div>
    </body>
</html>
