<!DOCTYPE html>
<html lang="es">
    <script type="text/javascript"> //<![CDATA[ 
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
    <head>
        <title>Compartir Vehiculo al Templo</title>
        <link rel="icon" href="images/templecarpoolLogo.png" sizes="400x400">
        <meta charset="utf-8">
        <script type='text/javascript' src='scripts/config.js'></script>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="312484233782-6q2cd48kt6ptu0tlcs5mv59vk1n9q9hp.apps.googleusercontent.com">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload-init" async defer></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!--see https://jqueryvalidation.org for more info-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="scripts/myscript.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="css/mystyle.css">
    </head>
    
    <body>
        <div id="holder">
            <div id="body">
                <ul id="navbar">
                    <li id='pageTitle'>Templo Carpoo</li>
                    <li><img src="images/templeLogo.png" height="54"></li>
                    <li style="float:right">
                        <select id="langSelect">
                            <option value='en'>English</option>
                            <option selected value='sp'>Espanol</option>
                        </select>
                        <div class="g-signin2 oauth" data-onsuccess="onSignIn" data-theme="light"></div>
                        <div class="g-signout2 oauth" data-theme="light" hidden>
                        <div style="height:36px;width:120px;" class="abcRioButton abcRioButtonLightBlue">
                        <div class="abcRioButtonContentWrapper">
                            <div class="abcRioButtonIcon" style="padding:8px;">
                                <div style="width:18px;height:18px;" class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
                                    <svg version="1.1" smlns="https://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg">
                                        <g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g>
                                    </svg>
                                </div>
                            </div>
                            <span style="font-size:13px;line-height:34px;" class="abcRioButtonContents">
                                <span>Desconectar</span>
                            </span>
                        </div>
                    </div>
                    </div>
                    </li>
                </ul>
                <div class="alert" hidden>
                    <span class="closebtn">&times;</span>  
                    <strong>Peligro!</strong><span class='msg'> Indica una accion peligrosa o potencialmente negativa.</span>
                </div>

                <div class="alert success" hidden>
                    <span class="closebtn">&times;</span>  
                    <strong>Exito!</strong><span class='msg'> Indica una accion exitosa o positiva.</span>
                </div>

                <div class="alert info" hidden>
                    <span class="closebtn">&times;</span>  
                    <strong>Informacion!</strong><span class='msg'> Indica un cambio o una accion informativo neutral.</span>
                </div>

                <div class="alert warning" hidden>
                    <span class="closebtn">&times;</span>  
                    <strong>Advertencia!</strong><span class='msg'> Indica una advertencia que quisas necesita atencion.</span>
                </div>
                <div id="content" hidden>
                    <div id="filter">
                        Estaca: <select id="stake"></select>
                        Templo: <select id="temple"></select>
                        Fecha de Salida: <input type="text" id="departDate">
                        Fecha de Regreso: <input type="text" id="returnDate">
                    </div>
                    <div class="tab">
                        <button class="tablinks" id="fa" onclick="openTab(event,'findRide')">Encontrar Un Paseo</button>
                        <button class="tablinks" id="pr" onclick="openTab(event,'postRide')">Publicar Un Paseo</button>
                        <button class="tablinks" id='er' onclick="openTab(event,'editRide')">Editar Un Paseo</button>
                        <button class="tablinks" id="ti" onclick="openTab(event,'templeInfo')">Informacion del Templo</button>
                        <button class="tablinks" id="ep" onclick="openTab(event,'emailPreferences')">Preferencias de Correo Electronico</button>
                    </div>
                    <div id="findRide" class="tabContent">
                        <table id="trips">
                            <tr class="header">
                                <th>Estaca  <i class="fas fa-sort"></i></th>
                                <th>Templo  <i class="fas fa-sort"></i></th>
                                <th>Salida  <i class="fas fa-sort"></i></th>
                                <th>Regreso  <i class="fas fa-sort"></i></th>
                                <th>Pasajeros  <i class="fas fa-sort"></i></th>
                                <th>Conductor  <i class="fas fa-sort"></i></th>
                                <th>Guardar  <i class="fas fa-sort"></i></th>
                            </tr>
                        </table>
                    </div>
                    <div id="postRide" class="tabContent">
                        <form action="/postRide" id="postRideForm" method="post">
                            <fieldset>
                                <label for="name">Conductor:*</label>
                                <input type="text" id="driver" name="driver" placeholder="" required />
                                <br />
                                <label for="email">Correo Electronico:*</label>
                                <input type="email" id="email" name="email" placeholder="" required disabled />
                                <br />
                                <label for="dDate">Fecha de Salida:*</label>
                                <input type="text" id="dDate" name="dDate" required />

                                <label for="dTime">Hora de Salida:</label>
                                <select id="dTime" name="dTime">
                                    <option value='select'>--elige--</option>
                                </select>
                                <br />
                                <label for="rDate">Fecha de Regreso:*</label>
                                <input type="text" id="rDate" name="rDate" required />

                                <label for="rTime">Hora de Regreso:</label>
                                <select id="rTime" name="rTime">
                                    <option value='select'>--elige--</option>
                                </select>
                                <br />
                                <label for="numSeats">Numero de Asientos:*</label>
                                <input type="number" min=1 id="numSeats" name="numSeats" value="1" required />
                                <br />
                                <label for="departStake">Estaca de Salida:</label>
                                <select id="departStake" name="departStake">
                                </select>
                                <br />
                                <label for="templeDest">Templo:</label>
                                <select id="templeDest" name="templeDest">
                                </select>
                                <br>
                                <label for="splitCost">Costo Dividido:</label>
                                <input type="checkbox" id="splitCost" name="splitCost" class="checkmark">
                                <br />
                                <label for="comments">Comentarios Opcionales:</label>
                                <textarea id="comments" name="comments" placeholder="Cualquier comentarios para los pasajeros como el numero de telefono, el lugar de recogida, las reglas de carro, etc."></textarea>
                                <br />
                                <input type="submit" value="Publicar Un Paseo" />
                            </fieldset>
                        </form>
                    </div>
                    <div id="editRide" class="tabContent">
                        <div id="editDriverForm" title="Editar Un Viaje" data-trip-id="">
                            <p class="validateTips">Todas las areas con * son requeridas.</p>
                             
                            <form id="editRideForm">
                                <fieldset>
                                    <label for="driverStake">Estaca*</label>
                                    <select name="driverStake" id="driverStake" class="text ui-widget-content ui-corner-all"></select>
                                    <br />
                                    <label for="driverTemple">Templo*</label>
                                    <select name="driverTemple" id="driverTemple" class="text ui-widget-content ui-corner-all"></select>
                                    <br />
                                    <label for="driverDepart">Salida*</label>
                                    <input type="text" name="driverDepart" id="driverDepart" required class="text ui-widget-content ui-corner-all">
                                    <select name="driverDTime" id="driverDTime" class="text ui-widget-content ui-corner-all">
                                    <option value='select'>--elige--</option>
                                    </select>
                                    <br />
                                    <label for="driverReturn">Regreso*</label>
                                    <input type="text" name="driverReturn" id="driverReturn" required class="text ui-widget-content ui-corner-all">
                                    <select name="driverRTime" id="driverRTime" class="text ui-widget-content ui-corner-all">
                                    <option value='select'>--elige--</option>
                                    </select>
                                    <br />
                                    <label for="driverSeats">Asientos Maximos*</label>
                                    <input type="number" name="driverSeats" id="driverSeats" min=1 required class="text ui-widget-content ui-corner-all">
                                    <br />
                                    <label for="driverSplitCost">Costo Dividido:</label>
                                    <input type="checkbox" id="driverSplitCost" name="driverSplitCost" class="checkmark">
                                    <br />
                                    <label for="driverComments">Comentario Opcional:</label>
                                    <textarea id="driverComments" name="driverComments" placeholder="Cualquier comentario para los pasajeros come el numero de telefono, el lugar de recogida, las reglas de carro, etc."></textarea>
                                    <br />
                                    <label for="driverPassengers">Pasajeros</label>
                                    <table name="driverPassengers" id="driverPassengers">
                                        <tr class="header">
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Kick</th>
                                        </tr>
                                    </table>
                                    <!-- Allow form submission with keyboard without duplicating the dialog button -->
                                    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                                </fieldset>
                            </form>
                        </div>
                        <h2>Los Viajes Que Usted Conduce </h2>
                        <table id="editingDrivingRides">
                            <tr class="header">
                                <th>Estaca</th>
                                <th>Templo</th>
                                <th>Salida</th>
                                <th>Regreso</th>
                                <th>Pasajeros</th>
                                <th>Editar</th>
                            </tr>
                        </table>
                        <br />
                        <h2>Los Viajes Que Usted Es Pasajero</h2>
                        <table id="editingPassengerRides">
                            <tr class="header">
                                <th>Estaca</th>
                                <th>Templo</th>
                                <th>Salida</th>
                                <th>Regreso</th>
                                <th>Conductor</th>
                                <th>Costo Dividido</th>
                                <th>Comentarios</th>
                                <th>Editar</th>
                            </tr>
                        </table>
                    </div>
                    <div id="templeInfo" class="tabContent">
                        <h2 id="templeName">Nombre</h2>
                        <div class='columns'>
                            <div class='col-2'>
                                <div id="templeAddress">
                                123 Street St
                                <br />
                                City, ST 00000
                                </div>
                                <br />
                                <div id="templePhone">
                                (012)-123-4567
                                </div>
                                <img id='templeImage' />
                            </div>
                            <div class='col-2' id='templeMap'></div>
                        </div>
                        <br />
                        <div class='columns'>
                            <div class='col-2' id="templeEndowment">
                                <h3>Investiduras</h3>
                                <p>Por favor verificar Por segued a vez el sitio web del templo por la fecha y la hora que esta planificando visitar.</p>
                                <table>
                                    <tr>
                                    <td>Martes</td>
                                    <td id="Endowment-Tuesday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Miercoles</td>
                                    <td id="Endowment-Wednesday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Jueves</td>
                                    <td id="Endowment-Thursday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Viernes</td>
                                    <td id="Endowment-Friday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Sabado</td>
                                    <td id="Endowment-Saturday">TBA</td>
                                    </tr>
                                </table>
                            </div>
                            <div class='col-2' id="templeBaptistry">
                                <h3>La Pila Bautismal(Cita Requerida)</h3>
                                <table>
                                    <tr>
                                    <td>Martes</td>
                                    <td id="Baptistry-Tuesday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Miercoles</td>
                                    <td id="Baptistry-Wednesday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Jueves</td>
                                    <td id="Baptistry-Thursday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Viernes</td>
                                    <td id="Baptistry-Friday">TBA</td>
                                    </tr>
                                    <tr>
                                    <td>Sabado</td>
                                    <td id="Baptistry-Saturday">TBA</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class='columns'>
                            <div class='col-2'>
                                <h3>Cierres</h3>
                                El templo esta cerrado cada Domingo y Lunes.
                                <br />
                                <strong>Cierres de Vacaciones</strong>
                                <br />
                                <ul id="templeClosings">
                                    <li>La Navidad</li>
                                </ul>
                            </div>
                            <div class='col-2'>
                                <h3>Notas</h3>
                                <div id="templeNotes">
                                    <p>No hay un centro de distribucion.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="emailPreferences" class="tabContent">
                        <h2>Usuario: <span id="userEmail">prueba@ejemplo.com</span></h2>
                        <h3>Quiero recibir los correos electronicos cuando:</h3>
                        <form id="emailSettings">
                            <input type="checkbox" name="noEmail" id="noEmail" class="checkmark sentence">
                            <label for="noEmail" class="label-right">Nunca</label>
                            <br />
                            <input type="checkbox" name="allEmail" id="allEmail" class="checkmark sentence">
                            <label for="allEmail" class="label-right">Cualquier Cosa Occure</label>
                            <h4>Configuracion de Conductor</h4>
                            <input type="checkbox" name="createATrip" id="createATrip" class="checkmark sentence emailPref">
                            <label for="createATrip" class="label-right">Yo Creo Un Viaje</label>
                            <br />
                            <input type="checkbox" name="passJoin" id="passJoin" class="checkmark sentence emailPref">
                            <label for="passJoin" class="label-right">Alguien se Une a Un Viaje</label>
                            <br />
                            <input type="checkbox" name="passLeft" id="passLeft" class="checkmark sentence emailPref">
                            <label for="passLeft" class="label-right">Alguien Deja Un Viaje</label>
                            <br />
                            <input type="checkbox" name="deleteTrip" id="deleteTrip" class="checkmark sentence emailPref">
                            <label for="deleteTrip" class="label-right">Yo Borro Un Viaje</label>
                            <h4>Configuracion de Pasajeros</h4>
                            <input type="checkbox" name="joinTrip" id="joinTrip" class="checkmark sentence emailPref">
                            <label for="joinTrip" class="label-right">Me Uno a Un Viaje</label>
                            <br />
                            <input type="checkbox" name="kickFromTrip" id="kickFromTrip" class="checkmark sentence emailPref">
                            <label for="kickFromTrip" class="label-right">Soy Despedido de Un Viaje</label>
                            <br />
                            <input type="checkbox" name="dropSeat" id="dropSeat" class="checkmark sentence emailPref">
                            <label for="dropSeat" class="label-right">Yo Dejo Un Viaje</label>
                            <br />
                            <input type="checkbox" name="rideDeleted" id="rideDeleted" class="checkmark sentence emailPref">
                            <label for="tripDeleted" class="label-right">El Conductor Borra Un Viaje</label>
                            <br />
                            <input type="checkbox" name="tripModified" id="tripModified" class="checkmark sentence emailPref">
                            <label for="tripModified" class="label-right">El Conductor Modifica Un Viaje (fecha, comentarios, templo, un cambio en la division del costo)</label>
                            <br />
                            <input type="Submit" value="Guardar Preferencias">
                        </form>
                    </div>
                </div>
                <div id='welcomeMsg' align="center">
                    Por favor inicia sesion para usar el sitio web.
                </div>
            </div>
            <div class="footer">
                Site design/logo &copy; 2018 Temple Carpool, Epper Marshall
                <div>
                    <a href="mailto:epper.marshall+templecarpool@gmail.com?Subject=Temple Carpool%20Feedback" target="_top">Contact</a>
                     - 
                    <a href="https://github.com/depperm/templeCarpool/issues" title="Please provide details">Report Issue</a>
                </div>
            </div>
        </div>
    </body>
</html>