#searchInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
#datepicker {
    padding:10px;
}
.match{
    background-color: green;
}
.error{
    border-color:red;
}
input,select{
    font-size:20px;
    margin:5px;
}
label{
    display:inline-block;
    width:140px;
    text-align:right;
}
#trips {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#trips th, #trips td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#trips tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#trips tr.header, #trips tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
.tab{
    overflow:hidden;
    border:1px solid #ccc;
    background-color:#f1f1f1;
}
.tab button{
    background-color:inherit;
    float:left;
    border:none;
    outline:none;
    cursor:pointer;
    padding:14px 16px;
    transition 0.3s;
    font-size:17px;
}
.tab button:hover{
    background-color:#ddd;
}
.tab button.active{
    background-color:#ccc;
}
.tabContent{
    display:none;
    padding:6px 12px;
    border 1px solid #ccc;
    border-top:none;
}
#navbar{
    list-style-type:none;
    margin:0;
    overflow:hidden;
    background-color:#333;
}
#navbar li{
    float:left;
}
#navbar li a{
    display: block;
    color: white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
#navbar li a:hover{
    background-color:#111;
}
.oauth{
    padding:5px;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
.columns{
    width:100%;
    display: table;
}
.column{
    width:50%;
    display:table-cell;
}